* {
  box-sizing: border-box;
  color: #040404;
}

@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

body {
  background-color: #fcf7f8;
}

header {
  background-color: #3a6274;
}

.header-container {
  display: flex;
  margin-bottom: 15px;
}

.header-container #logo {
  position: relative;
  top: 15px;
  left: 15px;
  padding-right: 15px;
}

.header-rh-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #f1ca3b;
  font-size: 2rem;
  font-family: "Sedgwick Ave", cursive;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0 0 1.5rem 0;
  /* background-color: chartreuse; */
}

.nav-container li {
  position: relative;
  background-color: #f1ca3b;
  border-radius: 1.2rem;
  width: 60px;
  height: 50px;
}

.nav-container li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* .nav-container li a img {

} */

.helper-container {
  position: fixed;
  top: 22%;
  right: 0;
  width: 500px;
  height: 520px;
  animation-name: helper-enter;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.helper-container img {
  animation-name: helper-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes helper-float {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes helper-enter {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

.helper-container button {
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #fcf7f8;
}

#helper-button-div {
  width: 100%;
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: space-around;
}

#btn1 {
  background-color: #f1ca3b;
  padding: 0.5rem;
  border: #040404;
  border-width: 2px;
  border-style: dashed;
}

#btn2 {
  background-color: #f1ca3b;
  padding: 0.5rem;
  border: #040404;
  border-width: 2px;
  border-style: dashed;
}

#btn1.clippy-button:hover,
#btn2.clippy-button:hover {
  cursor: pointer;
  background-color: #f1df9c;
}

#help-button {
  background-color: #f1ca3b;
  padding: 0.5rem;
  border-radius: 1rem;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#help-button:hover {
  cursor: pointer;
}

@media (min-width: 750px) {
  .header-container {
    max-width: 1500px;
    margin: 0 auto;
  }
  .header-rh-container {
    flex-direction: row;
  }
  .h1-container {
    justify-content: flex-start;
    width: auto;
  }
  h1 {
    font-size: 3rem;
    margin-left: 1rem;
  }
  .nav-container {
    width: 250px;
    margin-right: 2rem;
    padding: 0;
  }
}
