* {
  box-sizing: border-box;
  color: #040404;
}

@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

body {
  background-color: #fcf7f8;
}

header {
  background-color: #3a6274;
}

.header-container {
  display: flex;
  margin-bottom: 15px;
}

.header-container img {
  position: relative;
  top: 15px;
  left: 15px;
  padding-right: 15px;
}

.header-rh-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #f1ca3b;
  font-size: 2rem;
  font-family: "Sedgwick Ave", cursive;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0 0 1.5rem 0;
  /* background-color: chartreuse; */
}

.nav-container li a {
  color: #f1ca3b;
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  .header-container {
    max-width: 1500px;
    margin: 0 auto;
  }
  .header-rh-container {
    flex-direction: row;
  }
  .h1-container {
    justify-content: flex-start;
    width: auto;
  }
  h1 {
    font-size: 3rem;
    margin-left: 1rem;
  }
  .nav-container {
    width: 250px;
    margin-right: 2rem;
    padding: 0;
  }
}
