/* body {
  /* background-image: url("../images/musicback.jpg");
  background-position: center; */

.home-container {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
  padding: 10px;
}

.home-container p {
  color: #3a6274;
  margin: 10px;
}

.button {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 50%;
  align-self: center;
  background-color: #f1ca3b;
  margin: 1.2rem 0;
}
