@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap");

.song-and-form-container {
  display: flex;
  flex-direction: column;
  background-color: #3a6274;
  margin: 1rem;
  border-radius: 25px;
}

.song-container {
  display: flex;
  max-width: 650px;
  align-self: center;
  margin: 15px;
  background-color: #ced3dc;
  padding: 10px;
  border-radius: 10px;
}

.song-container img {
  width: 40%;
  flex-shrink: 0;
}

.songInfo {
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  font-weight: 600;
}

.form-container {
  margin: 15px;
  border-width: 3px;
  border-style: dashed;
  border-color: #f1ca3b;
  border-radius: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

textarea {
  resize: none;
}

.form-container form * {
  margin: 10px 0;
}

.button {
  color: #3a6274;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 50%;
  align-self: center;
  background-color: #f1ca3b;
}


.help-button {
  color: #f6f9fa;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  height: 1.2rem;
  width: 8%;
  align-self: center;
  background-color: #797568;
}

.button.loading {
  animation-name: loading-button;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading-button {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button:hover {
  background-color: #ecd890;
}

.show-song-button-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1080px) {
  .feed-body-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
  }
  .song-container {
    width: 650px;
    height: 320px;
    flex-shrink: 0;
  }
  .song-container img {
    width: auto;
  }
  .song-and-form-container {
    flex-direction: row;
    background-color: #3a6274;
    margin: 2rem;
    border-radius: 25px;
  }
  .form-container {
    min-width: 300px;
    width: 100%;
    margin: 15px;
    border-width: 3px;
    border-style: dashed;
    border-color: #f1ca3b;
    border-radius: 20px;
  }
  .form-container form {
    height: 100%;
    justify-content: center;
  }
  textarea {
    height: 150px;
  }
  .show-song-button-container {
    height: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
