@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap");

.song-container {
  display: flex;
  margin: 15px;
  background-color: #ced3dc;
  padding: 10px;
  border-radius: 10px;
}

.song-container img {
  width: 40%;
}

.songInfo {
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  font-weight: 600;
}

.form-container form {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

textarea {
  resize: none;
}

.form-container form * {
  margin: 10px 0;
}

.button {
  color: #3a6274;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 50%;
  align-self: center;
  background-color: #f1ca3b;
}

.button:hover {
  background-color: #ecd890;
}

.show-song-button-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .feed-body-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
  }
  .song-container {
    width: 650px;
    height: 320px;
    flex-shrink: 0;
  }
  .song-container img {
    width: auto;
  }
  .form-and-body-container {
    display: flex;
  }
  .form-container {
    width: 100%;
  }
  .form-container form {
    height: 100%;
    justify-content: center;
  }
  textarea {
    height: 150px;
  }
  .show-song-button-container {
    height: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
